body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position:fixed;
  bottom: 90%;
  z-index:5;
  width: 97.5vw;

}

.header_right{
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
}


.main{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  margin: 10px;
  margin-top: 5%;
}

.card{
  border: rgb(138, 138, 138) 2px solid;
  border-radius: 15px;
  width: 20vw;
  word-wrap: break-word;
  padding: 10px;
  margin: 20px;
  position: relative;
}

.card >img{
  margin: 10px;
  width: 90%;
  height: 350px;
}

.card_bottom{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card > input{
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: black;
  color: white;
  font-weight: 600;
}



.container{
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
  align-items:center;
  color: black;
  position: fixed;

}

.form{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   width: 80%;
   background-color:white;
   height: 80%;
   border-radius: 20px;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   flex-direction: column;
   font-size: 1.5rem;
   justify-content: space-between;
   word-wrap: break-word;
   overflow: scroll;
   z-index: 10;
}

.MuiInputBase-root{
   width: 60%;
   margin: 20px 0px;
}

.MuiInputBase-root > input{
   height: 15px;
   font-size: 1.5rem;
   line-height: 10px;
   padding: 15px;

}

.popup__button{
   border: none;
   padding: 12px;
   font-size: 1.5rem;
   border-radius: 7px;
   background-color: teal;
   color:white;
}


.cart_item{
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_item >h3{
  width: 60%;
}

.cart_item_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.pop_up_bottom{
  margin-top: 100px;
  display: flex;
  width:30%;
  justify-content: space-between;
}

.search__input{
  width: 70%;
  height: 50px;
  font-size: 22px;
  margin: 10px;
  margin-left: 7%;
}